---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<Layout>
  <h1>Full Product Dev Blog</h1>
  <ul>
    {posts.map(post => (
      <li>
        <a href={`/blog/${post.slug}/`}>{post.data.title}</a> - {post.data.pubDate.toISOString().split('T')[0]}
      </li>
    ))}
  </ul>
</Layout>
