---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<Layout>
  <h2>Recent Posts</h2>
  <ul class="post-list">
    {posts.map(post => (
      <li class="post-item">
        <a class="post-link" href={`/blog/${post.slug}/`}>{post.data.title}</a>
        <span class="post-date">{post.data.pubDate.toISOString().split('T')[0]}</span>
      </li>
    ))}
  </ul>
</Layout>
