---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full Product Dev Blog</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <main>
      <header>
        <h1><a href="/">Full Product Dev</a></h1>
        <p class="tagline">Shifting product focus left to build great products.</p>
      </header>
      <slot />
    </main>
  </body>
</html>
